/* stylesheet */
body{
    background-color: palegoldenrod;
}
p{
    color: white;
}
#titl{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#roman{
    background-color: blue;
    text-align: center;
    padding: 5px;
    margin: 2px;
}
.ptext{
    text-align: center;
}
#inp{
    float: 100px;
}
#integer{
    background-color: blue;
    text-align: center;
    padding: 5px;
    margin: 2px;
}
.notes{
    color: black;
    padding: 5px;
    margin: 5px;
}
#foot{
    border-radius: 10px;
    border: 2px solid;
    margin: 10px;
}
.headings{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.socials{
    overflow: visible;
}